@using PrincessGame.General.Helpers
@using PrincessGame.General.Resources

@{
    ViewData["Title"] = "Home Page";
    var gameData = AppResources.GameData;
}

<div class="text-center">
    <p>@GameFieldHelper.RenderField(Html, gameData.GameField)</p>
</div>

<form method="post">
    <input type="submit" value="MoveUp" name="actionType" />
    <input type="submit" value="MoveRight" name="actionType" />
    <input type="submit" value="MoveDown" name="actionType" />
    <input type="submit" value="MoveLeft" name="actionType" />
</form>
